<div class="container-fluid" id="loginapp">
  <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
      <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
        <form @submit.prevent="onSubmit">
          <div class="d-flex align-items-center justify-content-between mb-3">
            <a href="index.html" class="">
              <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Pontentes.App</h3>
            </a>
            <h3 class="text-nowrap">Bem-vindo!</h3>
          </div>
          <div class="form-floating mb-3">
            <input v-model="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
            <label for="floatingInput">Email</label>
          </div>
          <div class="form-floating mb-4">
            <input v-model="senha" type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
            <label for="floatingPassword">Password</label>
          </div>
          <div class="d-flex align-items-center justify-content-between mb-4">
            <div class="form-check">
              <input v-model="lembrar" type="checkbox" class="form-check-input" id="rememberPasswordCheck">
              <label class="form-check-label" for="rememberPasswordCheck">Lembrar senha</label>
            </div>
          </div>
          <button type="submit" disabled v-if="logando" class="btn btn-primary py-3 w-100 mb-4">
            <i class="bi bi-hourglass-split"></i>
            logando...
          </button>
          <button v-else type="submit" class="btn btn-primary py-3 w-100 mb-4">Entrar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  var app = new Vue({
    el: '#loginapp',
    data: {
      loadingPage: true,
      email: "",
      senha: "",
      lembrar: false,
      logando: false,

    },
    methods: {
      async loadPage() {
      },
      async onSubmit() {
        this.logando = true;
        const result = await fetch(`/trylogin`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ email: this.email, password: this.senha, }),
        });
        if (!result.ok) {
          showMessageToast("warning", "não foi possivel efetuar o login conestas credenciais")
          this.logando = false;
          return
        }
        let json = await result.json()
        location.href = json.redirect
      },
    },
    mounted() {
      this.loadPage();
    }
  })

</script>