<div>
    dashboard
    <ul>
        <li>total de grupos</li>
        <li>total de grupos ativos</li>
        <li>total de grupos em analise</li>
        <li>total de grupos finalizados</li>
    </ul>
</div>