<div class="list-group">
  <a href="/dinamicas" class="list-group-item list-group-item-action list-group-item-success">Dinamicas</a>
  <a href="/analises" class="list-group-item list-group-item-action list-group-item-success">Resultados de analises</a>
  <a href="/usuarios" class="list-group-item list-group-item-action list-group-item-success">usuarios</a>
</div>
