<!-- Sale & Revenue Start -->
<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
    <div class="col-sm-4 col-xl-3">
      <div class="bg-gradient rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa fa-chart-line fa-3x text-primary"></i>
        <div class="ms-3">
          <p class="mb-2">Total de Clientes</p>
          <h6 class="mb-0">0</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xl-3">
      <div class="bg-gradient rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa fa-chart-bar fa-3x text-primary"></i>
        <div class="ms-3">
          <p class="mb-2">Dinamicas realizadas</p>
          <h6 class="mb-0">0</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xl-3">
      <div class="bg-gradient rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa fa-chart-area fa-3x text-primary"></i>
        <div class="ms-3">
          <p class="mb-2">Total de Participantes</p>
          <h6 class="mb-0">0</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xl-3">
      <div class="bg-gradient rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa fa-chart-pie fa-3x text-primary"></i>
        <div class="ms-3">
          <p class="mb-2">Total de monitores</p>
          <h6 class="mb-0">0</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Sale & Revenue End -->